# Template Environment Configuration

# Application Settings
TZ=UTC
PYTHONUNBUFFERED=1
NICEGUI_STORAGE_SECRET=[your_secret]

# For notification Emails
SMTP_PASSWORD=[strong_password]

# Port Mappings (Host:Container)
PORT_POSTGRES=5432
PORT_NICEGUI=8080  # Unified NiceFolio interface
CLOUDFLARE_TUNNEL_TOKEN=[paste_token_here]

# Crypto Exchange API
BINANCECOM_API_KEY=[key_from_Binance.com]
BINANCECOM_API_SECRET=[secret_from_Binance.com]
BINANCETH_API_KEY=[key_from_Binance_Thailand]
BINANCETH_API_SECRET=[secret_from_Binance_Thailand]

# Crypto Blockchain and Marketdata API
BSCSCAN_API_KEY=[BSCscan_API]
INFURA_PROJECT_ID=[Infura_API]
BLOCKFROST_API_KEY=[Blockfrost_API]
COINMARKETCAP_API_KEY=[CoinMarketCap_API]
BLOCKONOMICS_API_KEY=[Blockonomics_API]
BLOCKCYPHER_API_KEY=[Blockcypher_API]
ALCHEMY_API_KEY=[Alchemy_API]
ETHERSCAN_API_KEY=[EtherScan_API]

# Stock and Fx Marketdata API
EXCHANGE_RATE_API_KEY=[ExchangeRate_API]
ALPHAVANTAGE_API_KEY=[Alphavantage_API]
MARKETSTACK_API_KEY=[MarketStack_API]

# Broker API
IBKR_FLEX_TOKEN=[ibkr_flex_token]
IBKR_FLEX_QUERY_ID=[ibkr_ID]

# PostgreSQL Database Configuration
POSTGRES_USER=[user]
POSTGRES_PASSWORD=[strong_password]
POSTGRES_DB=[db_name]
POSTGRES_HOST=[host_name]
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${PORT_POSTGRES}/${POSTGRES_DB}
